/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');*/
:root {
  --col-background: #880000;
  --col-text: #ffffff;
  --col-link: #ffff00;
  --font-main: 'Fira Sans', sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--col-text);
  background-color: var(--col-background);
}
.test {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32pt;
}
